:root {
    --white: #ffffff;
    --gold: #bdae82;
    --black: #000000;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--black);
}

.section-title {
    margin: 5vh auto 0;
    color: var(--gold);
    font-family: Merriweather;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px; 
    max-width: 700px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.section-title::before, .section-title::after {
    content: "";
    height: 2px;
    background-color: var(--gold);
    display: inline-block;
    width: 100%;
    z-index: -1;
    position: relative;
    /* vertical-align: middle; */
    bottom: 12px;
}

.section-title:before {
    right: 20px;
    margin: 0 0 0 -100%;
}

.section-title:after {
    left: 20px;
    margin: 0 -100% 0 0;
   }

.video {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    margin: 0 auto;
}

.video-block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.play-hover.pause {
    z-index: -1;
    opacity: 0;
    /* transition: 0s; */
}

.play-hover {
    opacity: 100;
    z-index: 10;
    cursor: pointer;
    transition: ease-out 0.3s;
    display: block;
    width: 130px;
    height: 130px;
    background-image: url(assets/svg/play-btn.svg);
    background-size: contain;
    /* background-color: transparent; */
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
 
}

.play-hover:hover {
    transition: 1s;
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.video-player {
    width: 100%;
    height: auto;
    border: 1px solid #bdae82;
    border-bottom: 0;
}

.player-controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 6vh;
    background-color: var(--black);
    border: var(--gold) 1px solid;
    border-top: none;
}

button {
    border: none;
    display: block;
    height: 32px;
    width: 32px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    transition: ease-in 0.3s;
}

button:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
    cursor: pointer;
}

#progress, #volume {
    outline: none;
    -webkit-appearance: none;
    height: 10px;
    border-radius: 20px;
}

#volume {
    background: linear-gradient( 90deg, var(--gold) 0%, var(--gold) 50%, var(--white) 50%, var(--white) 100%);
}

#progress::-webkit-slider-thumb,
#volume::-webkit-slider-thumb {
    width: 18px;
    height: 18px;
    -webkit-appearance: none;
    background-color: var(--white);
    border-radius: 50%;
    cursor: ew-resize;
    border: 2px solid var(--gold);

}

.play-button {
    background-image: url(assets/svg/play.svg);
}

.play-button.pause {
    background-image: url(assets/svg/pause.svg);
}

#progress {
    width: 70%;
}

.mute-button {
    background-image: url(assets/svg/volume.svg);
}

.mute-button.muted {
    background-image: url(assets/svg/mute.svg);
}

#volume {
    width: 15%;
}

footer {
    max-width: 1440px;
    color: var(--white);
    display: flex;
    font-family: Inter;
    font-size: 20px;
    margin: 0 auto;
    padding: 0 20px 0;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: var(--black);
    height: 100px;
}

a:hover {
    color: var(--gold);
}

a {
    text-decoration: none;
    display: block;
    color: inherit;
    font: inherit;
    transition: ease-in 0.3s;
}

.github {
    margin-right: auto;
    padding-left: 10px;
}

.poster {
    height: 710px;
    background-image: url(assets/img/video-bg.jpg);
    position: absolute;
    z-index: 10;
    width: 100%;
    opacity: 100;
    transition: ease-in 0.5s;
    cursor: pointer;
}

.poster.fade {
    opacity: 0;
    z-index: -5;
    /* display: none; */
}